{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<main id="home">
  <div id="landing-banner">
	  <img src="{{ url_for('static', filename='imgs/cover.jpg')}}">
  </div>
  {% if requests %}
	  <div id="landing-text" class="user">

		<h1>Welcome to UR Connect, {{ user.username.capitalize() }}!</h1>

		{% for request in requests %}
			  {% include '_request.html' %}
		{% endfor %}

		<a id="request-btn" class="btn btn-primary active" href="{{ url_for('request_form') }}">
			Make new request
		</a>



  {% else %}
	  <div id="landing-text" class="anon">

		<h1>Welcome to UR Connect!</h1>
		<p>
			Use this port to find travel companions to ride with to the airport
			and other travel terminals.</p><p>See who else is going to the airport
			at the same time and plan a group ride to save on Uber / Lyft costs.
		</p>
		<a id="register-btn" class="btn btn-success active" href="{{ url_for('register') }}">
			Sign Up</a>
		<a id="login-btn"    class="btn btn-warning active" href="{{ url_for('login') }}">
		 	Log In</a>
	  {% endif %}
    </div>
  </div>
</main>
{% endblock %}
