<!-- This code makes a request page-->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
  {{ super() }}
  <link rel ="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block app_content %}
    <div class="container">
    	<h1>Request</h1>
    	<div class="row">
        	<div class="col-md-4">
            {{ wtf.quick_form(form) }}
        	</div>
    	</div>
    </div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

  <script charset="utf-8" type="text/javascript">
	$(function() {
		$('#datepick').datetimepicker({
            format: 'MM/DD/YY' /*remove this line if you want to use time as well */
        });
        $('#timepick').datetimepicker({
    		format:'h:mm A',
            stepping: 15
        });
        $('#timepick').removeAttr("type");

	    var dropdown = {
	    	origin_city: $('#select_origin_city'),
	    	origin: $('#select_origin'),
	    	destination_city: $('#select_destination_city'),
	    	destination: $('#select_destination')
	    };

	    // call to update on load
	    updateOriginLocations();
	    updateDestinationLocations();

	    // function to call XHR and update location dropdown
	    function updateOriginLocations() {
	    	var send = {
	    		origin_city: dropdown.origin_city.val()
	    	};
	    	dropdown.origin.attr('disabled', 'disabled');
	    	dropdown.origin.empty();
	    	$.getJSON("{{ url_for('_get_origin_locations') }}", send, function(data) {
	    		data.forEach(function(item) {
	    			dropdown.origin.append(
	    				$('<option>', {
	    					value: item[0],
	    					text: item[1],
                            selected: item[1] == "University of Richmond"
	    				})
	    			);
	    		});
	    		dropdown.origin.removeAttr('disabled');
	    	});
	    }

	    function updateDestinationLocations() {
	    	var send = {
	    		origin_city: dropdown.destination_city.val()
	    	};
	    	dropdown.destination.attr('disabled', 'disabled');
	    	dropdown.destination.empty();
	    	$.getJSON("{{ url_for('_get_origin_locations') }}", send, function(data) {
	    		data.forEach(function(item) {
	    			dropdown.destination.append(
	    				$('<option>', {
	    					value: item[0],
	    					text: item[1],
                            selected: item[1] == "Richmond International Airport"
	    				})
	    			);
	    		});
	    		dropdown.destination.removeAttr('disabled');
	    	});
	    }

	    // event listener to state dropdown change
	    dropdown.origin_city.on('change', function() {
	    	updateOriginLocations();
	    });

	    dropdown.destination_city.on('change', function() {
	    	updateDestinationLocations();
	    });


	});

</script>
{% endblock %}
