{% extends "base.html" %}

{% block app_content %}
    <h1>User: {{ user.username }}</h1>

    <h3>Your Current Requests</h3>
	<table class="table table-hover user-list">
        {% for request in requests %}
        <tr>
            <td>
                <b>{{ request.origin }} -> {{ request.destination }}</b>

                {% if request.author.username|string() == current_user.username|string() %}     
	            <a href="{{ url_for('delete_request', request_id=request.id) }}"> <span class="fas fa-trash-alt"></span>
               	</a>
                <a href="{{ url_for('edit_request', request_id=request.id) }}"> <span class="fas fa-edit"></span>
                </a>
                {% endif %}

                <br/>
                <div style="padding-left: 10px; margin-left: 10px; background-color: #f8f8f8;">
                    <b>Leaving around:</b> {{ to12HourTime(request.time) }}, {{ request.date }}.
                    <br/>
                    <b>Description:</b> {{ request.description }}
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
